/*****************************************************
 * Magic Mirror                                      *
 * Custom CSS                                        *
 *                                                   *
 * By Michael Teeuw http://michaelteeuw.nl           *
 * MIT Licensed.                                     *
 *                                                   *
 * Add any custom CSS below.                         *
 * Changes to this files will be ignored by GIT. *
 *****************************************************/

body {
  position: absolute;
  margin: 0;
  height: 300vh;
  width: 100%;
  overflow-y: scroll;
}


.css_window_step {
    position: absolute;
    text-align: center;
    height: 100vh;
}

.width_90 {
    width: 90vw;
    padding-right: 5vh;
    padding-left: 5vh;
}

#step1_container {
    top: 5vh;
}

#step2_container {
  top: 100vh;
}

#step3_container {
  top: 200vh;
}

#step4_container {
  top: 300vh;
}

#step5_container {
  top: 400vh;
}

.region.third,
.region.middle.center {
  width: 100%;
  text-align: center;
  -moz-transform: translateY(-16%);
  -o-transform: translateY(-16%);
  -webkit-transform: translateY(-16%);
  -ms-transform: translateY(-16%);
  transform: translateY(-16%);
}

.region.middle.center {
  top: 40%;
}
.region.lower.third {
    top: 50%;
}
.region.bottom {
    bottom: 10%;
}


#greeting_complement,
.module.clock,
.module.currentweather,
.module.newsfeed,
.module.weatherforecast {
  display: none;
}

.hall_width {
    position: absolute;
    width: 50vw;
    height: 100vh;
    display: table;
    text-align: center;
}

#step2_container .left_side, #step4_container .left_side {
    background-color: white;
}
#step2_container .right_side, #step4_container .right_side {
    background-color: black;
    left: 50vw;
}
#step3_container .left_side, #step5_container .left_side {
    background-color: black;
}
#step3_container .right_side, #step5_container .right_side {
    background-color: white;
    left: 50vw;
}

.vertical_align_helper {
    display: inline-block;
    vertical-align: middle;
}

.hall_width .photo_hall{
    width: 25vw;
}

.hall_width .half_width_container{
    display: table-cell;
    vertical-align: middle;
}

.text_container {
    font-weight: 250;
    margin-left: 2vw;
}

.text_container ul {
    text-align: left;
    margin-left: 2 vw;
}

