/*****************************************************
 * Magic Mirror                                      *
 * Custom CSS                                        *
 *                                                   *
 * By Michael Teeuw http://michaelteeuw.nl           *
 * MIT Licensed.                                     *
 *                                                   *
 * Add any custom CSS below.                         *
 * Changes to this files will be ignored by GIT. *
 *****************************************************/

body {
  position: absolute;
  margin: 0;
  height: 300vh;
  width: 100%;
  overflow-y: scroll;
}

.css_window_step {
    position: absolute;
    text-align: center;
    height: 100vh;
}

.width_90 {
    width: 90vw;
    padding-right: 5vh;
    padding-left: 5vh;
}

#step1_container {
    top: 5vh;
}

#step2_container {
  top: 100vh;
}

#step3_container {
  top: 200vh;
}

#step4_container {
  top: 300vh;
}

#step5_container {
  top: 400vh;
}

.region.third,
.region.middle.center {
  width: 100%;
  text-align: center;
  -moz-transform: translateY(-16%);
  -o-transform: translateY(-16%);
  -webkit-transform: translateY(-16%);
  -ms-transform: translateY(-16%);
  transform: translateY(-16%);
}

.region.middle.center {
  top: 40%;
}
.region.lower.third {
    top: 50%;
}
.region.bottom {
    bottom: 10%;
}

.text_container_title {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 50px;
}

table.table_accroches tr:nth-child(odd) td{
    padding-top: 25px;
    padding-bottom: 15px;
}

table.table_accroches tr:nth-child(even) td{
    padding-right: 15px;
    padding-left: 15px;
}


.table_accroches td {
    font-size: 25px;
    line-height: 30px;
    vertical-align: top;
}

#greeting_complement,
.module.clock,
.module.currentweather,
.module.newsfeed,
.module.weatherforecast {
  display: none;
}

.hall_width {
    position: absolute;
    width: 50vw;
    height: 100vh;
    display: table;
    text-align: center;
}

.right_side {
    left: 50vw;
}

.vertical_align_helper {
    display: inline-block;
    vertical-align: middle;
}

.hall_width .photo_hall{
    width: 35vw;
}

.hall_width .half_width_container{
    display: table-cell;
    vertical-align: middle;
}

.text_container {
    font-weight: 250;
}

.text_container ul {
    text-align: left;
    margin-left: 2 vw;
}

.text_container li {
    list-style-type: none;
}

table.module_table {
    width: 100%;
}

table.module_table tr:nth-child(odd) td{
    padding-top: 25px;
}

.module_icon {
    width: 50px;
}

.size_2x {
    width: 100px;
}
/* FORM CONTACT */
.contact_form .label_div {
    vertical-align: top;
    padding-top: 22px;
}

.label_div {
    display: inline-block;
    width: 150px;
    font-size: 20px;
}

.contact_form input, .contact_form textarea , .contact_form button, .contact_form button:hover{
    background-color: white;
    color: black;
}

.contact_form_field {
    width: 50%;
}
/* END FORM CONTACT */